body {

}

a,
a:hover {
  text-decoration: none;
  color: #000000;
}

a:active,
a:visited {
  color: #000000;
}

*:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

picture {
  display: flex;
}
